.base {
    position: relative;
    margin: 1em auto;
    padding: 1em 0;
    display: block-inline;
    width: 350px;
    background-color: rgb(62, 31, 134);
    border-radius: 25px;
    box-shadow: 5px 5px 15px 3px rgb(190, 112, 226);
  }

  .row{
    text-align: center;
  }

  .row div.display {
    display: table;
    width: 85%;
    background-color: #aaa;
    text-align: right;
    font-size: 2em;
    min-height: 1.2em;
    margin-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #888;
    color: #333;
  }

  .row div {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #eee;
    padding: 10px 0;
    margin: 7px 5px;
    border-radius: 15px;
    width: 50px;
    box-shadow: 2px 2px 1px 1px #222;
  }

  #long_button {
    width: 112px;
  }

