.topnav {
    border-radius: 15px;
    background-color: #333;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Titan One', cursive;
  }

.topnav a:hover {
    border-radius: 15px;
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    border-radius: 15px;
    background-color: rgb(153, 0, 255);
    color: white;
  }
#rightnav {
    float: right;
  }

body{
    background-color: rgb(187, 153, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');